.card  {
    border: none !important;
    }

    .foto {
        width: 80%;
        }

    .titulos {
        background: #fff;
        writing-mode:  sideways-lr;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 20%;
        text-align: center;
        text-transform: uppercase;
        }

        .titulo, .subtitulo {
            margin: 0;
            }

            .titulo {
                font-size: 24px;
                color: #333;
                }

            .subtitulo {
                font-size: 18px;
                color: #333;
                font-weight: lighter;
                }